.header {
  height: 200px;
  background-color: red;
}
/*.header:after {
  display: block;
  content: "asdasdasd";
  clear: both;
}*/

.float-left {
  height: 80px;
  width:50%;
  background-color: blue;
  float: left;
}

.float-right {
  height: 100px;
  width:50%;
  background-color: yellow;
  float: right;
}

.bottom {
  height: 200px;
  background-color: green
}
